p,h6
{
    font-family: "Times New Roman";
    color:Black;
   font-size:medium;
}
p
{
  background-color: aqua;  
}

p:hover
{
    background-color: aliceblue;   
    color: blue;
}

.KING
{
color: brown;
}

.FIRST-LORD
{
color: rgb(38, 134, 70);
}

.SECOND-LORD
{
color: darkgoldenrod;
}
table,th,td
{
    border-style: dashed;
    border-collapse: collapse;
    width: 50%;
    border:darkgreen;
    color: darkgreen;
    text-align: center;
    margin: 2px;
    padding: 10px;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }