p,h6
{
    font-family: "Times New Roman";
    color:Black;
   font-size:medium;
}
p
{
  background-color: aqua;  
}

p:hover
{
    background-color: aliceblue;   
    color: blue;
}

.KING
{
color: brown;
}

.FIRST-LORD
{
color: rgb(38, 134, 70);
}

.SECOND-LORD
{
color: darkgoldenrod;
}